

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Order Recipet</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


<div class="container mt-4 mb-4">
    <div class="row d-flex cart  justify-content-center">
        <div class="col-md-12">
            <div class="card">
                {{!-- <div class="d-flex justify-content-center border-bottom">
                    <div class="p-3">
                        <div class="progresses">
                            <div class="steps"> <span class="font-weight-bold">3</span> </div>
                        </div>
                    </div>
                </div> --}}
                <div class="row g-0">
                    <div class="col-md-12 border-right p-5">
                        <div class="text-center order-details">
                            <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span
                                    class="check1"><i class="fa fa-check"></i></span> <span
                                    class="font-weight-bold">Order Confirmed</span> <small class="mt-2">Your invoice
                                    sent to mail</small> <a href="/orders" class="text-decoration-none invoice-link">View
                                    Orders</a> </div> 
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>

